* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* ------------- navbar --------------- */

nav {
  display: flex;
  border-color: #f8f8f8;
  justify-content: space-between;
  padding: 0 4rem;
  height: 90px;
  align-items: center;
}

nav h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  position: relative;
  padding: 10px 16px;
  color: #7a7c82;
}

.nav-links li{
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #7a7c82;
}

nav ul li:hover,
nav ul li a:hover {
  color: #ff5800;
}

.Drop-Down {
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 100%;
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #000;
  z-index: 1;
  min-width: 160px;
  height: 0;
  overflow: hidden;
}

nav ul li:hover .Drop-Down,
nav ul li.active .Drop-Down {
  visibility: visible;
  opacity: 1;
  height: 500%;
}
.Drop-Down li {
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

.Drop-Down li a{
  width: 100%;
  height: 100%;
}
.Drop-Down li:hover {
  background-color: #ff5800;
  color: #fff;
}

.Drop-Down li:hover a{
  color: #fff;
}

/* ------------------------ hero -------------- */
.hero {
  position: relative;
}
.hero-top {
  width: 100%;
  height: 100vh;
}
.hero-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-bottam {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.694));
  color: white;
  padding: 20px 53px;
  text-align: center;
}

.hero-bottam h3 {
  font-style: italic;
  font-size: 2rem;
  margin-top: 10rem;
}

.hero-bottam h1 {
  font-size: 75px;
  text-align: center;
  line-height: 0.9;
  margin: 30px 0;
}

.Hero-btn {
  font-size: 1.3rem;
  padding: 10px 15px;
  border: none;
  color: #fff;
  background-color: #ff5800;
  border-radius: 5px;
}
.Hero-btn:hover {
  background-color: rgb(223, 73, 18);
}

.hero-footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: #343434;
  color: #fff;
}

.orange {
  color: orangered;
}

.hero-footer a {
  text-decoration: none;
}

.Hero-footer-btn {
  background-color: #ff5800;
  color: #fff;
  padding: 5px 10px;
  margin-right: 20px;
  border: none;
  border-radius: 6px;
}

/* ------------ responsive ---------------- */

#menu-icon {
  display: none;
}

@media (max-width: 1100px) {
  .hero-bottam h3 {
    font-size: 2rem;
  }
  nav ul li {
    padding: 8px 13px;
  }

  .hero-bottam {
    padding: 10px 30px;
  }
  .hero-bottam h1 {
    font-size: 60px;
  }
}

@media (max-width: 806px) {
  nav ul {
    display: none;
  }
  nav ul ul {
    display: block;
  }
  .Drop-Down {
    position: static;
    border: none;
    visibility: unset;
    opacity: unset;
    display: none;
  }

  nav {
    padding: 0 2rem;
    height: auto;
  }
  #menu-icon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .showData {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 0 2rem;
    transition: all 0.7s ease-in-out;
    z-index: 1;
    overflow: hidden;
    animation: moveRight 1s ;
  }

  @keyframes moveRight {
    from {
      height: 0;
    }
    to {
      height: 220px;
    }
  }
  .hero-bottam h3 {
    font-size: 1.5rem;
  }
  .hero-bottam h1 {
    font-size: 35px;
  }

  .Hero-btn {
    font-size: 1rem;
    padding: 8px 12px;
    margin-bottom: 1rem;
  }

  .hero-footer {
    flex-direction: column;
    height: auto;
    padding: 1rem 3rem;
    gap: 1rem;
  }
}

/* -------------- second page  -------------------- */

.cotainer {
  padding: 0 4rem;
  margin: 0 auto;
}

#achivmets {
  display: flex;
  padding: 4rem 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.achivmets-title {
  font-size: 3rem;
  text-align: center;
}

.achivmets-title b {
  color: #000;
}
#achivmets h1 {
  font-size: 3rem;
}

.achiv-P {
  color: #7a7c82;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem auto;
  line-height: 2rem;
}

.achivements-list {
  display: flex;
  flex-wrap: wrap;
}
#h3-achivment span {
  position: relative;
}

#h3-achivment span::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid #ff5800;
  left: 10%;
  bottom: -10px;
  width: 70%;
}
.achivement {
  width: 25%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.achivement i {
  font-size: 2rem;
  color: #ff5800;
}

.achivement h1,
b {
  color: #7a7c82;
}

.achivement h1 {
  margin-bottom: 10px;
}

.achivement p {
  color: #7a7c82;
  line-height: 1.4rem;
  text-align: center;
}

@media (max-width: 850px) {
  .achivement {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  #achivmets h1 {
    font-size: 2rem;
  }
  #achivmets {
    padding: 3rem 2rem;
  }
  .achivmets-title {
    font-size: 1.5rem;
  }
  .achivement {
    width: 90%;
  }
  .cotainer {
    padding: 2rem 2rem;
  }
}

/* -------------------- Theme orange banner -------------- */

.Theme {
  background-color: #ff5800;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.Theme-left {
  width: 50%;
  color: #fff;
}

.Theme-left h3 {
  font-size: 3rem;
}

.Theme a {
  width: 180px;
  height: 100px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ff5800;
}

@media (max-width: 900px) {
  .Theme {
    flex-direction: column;
    height: 236px;
    justify-content: center;
    gap: 20px;
    padding: 2rem 2rem;
    text-align: center;
  }
  .Theme-left {
    width: 100%;
  }
  .Theme-left h3 {
    font-size: 2rem;
    text-align: center;
  }
}

/* ----------------------- CONSECTETURET ---------------------- */

.CONSECTETURET {
  display: flex;
  padding: 3rem 4rem;
  gap: 2rem;
  justify-content: space-between;
  margin: 3rem auto;
}

.CONSECTETURET img {
  width: 33%;
  height: 300px;
  object-fit: cover;
}

.consectetiret-title {
  font-size: 1.7rem;
}

.consectetiret-title h1:nth-child(2) {
  position: relative;
  color: #ff5800;
  margin-bottom: 1.5rem;
}

.consectetiret-title h1:nth-child(2)::after {
  content: "";
  border-bottom: 3px solid #ff5800;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list {
  display: flex;
  width: 49%;
  margin: 1rem 0;
}

.list i {
  padding: 1rem;
  font-size: 2.5rem;
  color: #ff5800;
  padding-top: 0;
  margin-right: 1rem;
}

.list h1 {
  margin-bottom: 10px;
}
.list p {
  color: #7a7c82;
}

@media (max-width: 950px) {
  .CONSECTETURET {
    flex-direction: column-reverse;
    padding: 2rem 2rem;
  }

  .list {
    width: 100%;
  }

  .CONSECTETURET img {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .consectetiret-title {
    font-size: 1.2rem;
  }
}

/* --------------- FEATURES -------------- */

.features {
  background-color: #eeeeee;
  padding: 6rem 4rem;
}

.features-title {
  font-size: 2rem;
}

.features-title h1:nth-child(2) {
  color: #ff5800;
  position: relative;
}

.features-title h1:nth-child(2)::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #ff5800;
  bottom: 0;
  left: 0;
  width: 5%;
}

.features-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.features-list {
  display: flex;
  margin: 1rem 0;
  width: 25%;
}

.features-list i {
  padding: 1rem;
  font-size: 2rem;
  color: #ff5800;
}

.features-list p {
  line-height: 1.5rem;
}

@media (max-width: 950px) {
  .features-list {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .features-list {
    width: 100%;
  }
  .features {
    padding: auto 2rem;
  }
}

/* ---------------- SPOTLIGHT ------------ */

.spotlight {
  display: flex;
}
.spotlight-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem 3rem 7rem;
}

.spotlight-left h1,
.right-spotlight-text h1 {
  font-size: 3rem;
}

.spotlight-left h1:nth-child(2),
.right-spotlight-text h1:nth-child(2) {
  color: #ff5800;
  position: relative;
  margin-bottom: 2rem;
}

.spotlight-left h1:nth-child(2)::after,
.right-spotlight-text h1:nth-child(2)::after {
  content: "";
  border: 2px solid #ff5800;
  position: absolute;
  width: 30%;
  left: 0;
  bottom: 0;
}

.spotlight-left p,
.right-spotlight-text p {
  line-height: 1.5rem;
  color: #7a7c82;
  margin-bottom: 2rem;
}

.more-info-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #ff5800;
  color: #fff;
  width: 180px;
  text-decoration: none;
  font-size: 1.2rem;
}

.spotlight-right {
  width: 50%;
  height: auto;
}
.spotlight-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 810px) {
  .spotlight {
    flex-direction: column;
  }
  .spotlight-left {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
  .spotlight-right {
    width: 100%;
  }
}

/* ------------------------------- RIGHT SPOTLIGHT  ------------------- */

.right-spotlight {
  display: flex;
}

.right-spotlight-left {
  width: 50%;
}
.right-spotlight-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-spotlight-text {
  width: 50%;
  padding: 1rem 7rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 810px) {
  .right-spotlight {
    flex-direction: column-reverse;
  }
  .right-spotlight-left {
    width: 100%;
  }
  .right-spotlight-text {
    width: 100%;
    margin-right: 0;
    padding: 2rem;
  }
}

/* ------------------------- services----------------- */

.services {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 4rem;
  justify-content: space-between;
  margin-top: 4rem;
}

.services-titel {
  width: 33%;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.services-titel h1:nth-child(2) {
  color: #ff5800;
  position: relative;
}

.services-titel h1:nth-child(2)::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid #ff5800;
  left: 0;
  bottom: 0;
  width: 20%;
}

.services-card {
  width: 33%;
  margin-bottom: 1rem;
  padding: 10px 20px;
}

.services-card-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.services-card-info i {
  font-size: 2rem;
}

.services-card-info h3 {
  font-size: 1.5rem;
}

.services-card p {
  color: #7a7c82;
  margin-top: 10px;
}

@media (max-width: 950px) {
  .services-titel {
    width: 50%;
  }
  .services-card {
    width: 50%;
  }
}

@media (max-width: 770px) {
  .services {
    padding: 3rem 2rem;
  }
  .services-titel {
    width: 100%;
  }
  .services-card {
    width: 100%;
  }
}

/* ------------------- Portfolio ------------ */

.Portfolio h1 {
  padding: 2rem;
  text-align: center;
  color: #ff5800;
  font-size: 2rem;
}

.Portfolio h3 {
  font-size: 1.5rem;
  color: #7a7c82;
  text-align: center;
  margin-bottom: 3rem;
}

.Portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.2%;
}

.Portfolio-card {
  width: 31.8%;
  position: relative;
  height: 300px;
  margin-bottom: 2.2%;
}

.Portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Portfolio-info {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.794));
  color: #fff;
  padding: 2rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.Portfolio-card:hover .Portfolio-info {
  opacity: 1;
}
.Portfolio-info h2 {
  font-size: 2rem;
}

.Portfolio-info h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Portfolio-info p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.Portfolio-icons a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px;
  margin-right: 1rem;
  font-size: 2rem;
}

.Project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.Project-btn a {
  padding: 8px 15px;
  background-color: #ff5900;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #803208;
}

@media (max-width: 900px) {
  .Portfolio-card {
    width: 48.6%;
  }
}

@media (max-width: 600px) {
  .Portfolio-card {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
}

/* ------------------------ clients     --------------------- */

.clients {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.clients-left-imgs {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.clients-left-imgs img {
  width: 206px;
  filter: grayscale(1);
  transition: 0.4s ease-in-out;
}

.clients-left-imgs img:hover {
  filter: grayscale(0);
}

.clients-right {
  width: 30%;
}
.clients-right h3 {
  font-size: 3rem;
  font-weight: 400;
}
.clients-right h1 {
  font-size: 3rem;
  font-weight: 400;
}
.clients-right h1:nth-child(2) {
  color: #ff5800;
  position: relative;
  margin-bottom: 2rem;
}
.clients-right h1:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 20%;
  border-bottom: 2px solid #ff5800;
  left: 0;
  bottom: 0;
}

@media (max-width: 900px) {
  .clients {
    flex-direction: column-reverse;
    padding: 0 3rem;
  }
  .clients-left-imgs {
    width: 100%;
  }
  .clients-right {
    width: 100%;
  }
}

/* -------------------- team ------------------------ */

.team {
  padding: 6rem 4rem;
}
.team-title {
  font-size: 2rem;
  font-weight: 300;
}
.team-title h1:nth-child(2),
.after {
  color: #ff5800;
  position: relative;
  margin-bottom: 2.5rem;
}
.team-title h1:nth-child(2)::after,
.after {
  content: "";
  border-bottom: 3px solid #ff5800;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7%;
}
.team img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

@media (max-width: 700px) {
  .team {
    padding: 3rem 2rem;
  }

  .team img {
    height: 300px;
  }
}

/* --------------------------- work --------------------------- */

.work {
  padding: 6rem 0;
}
.work h1 {
  background-color: #000;
  color: #fff;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.work h1 i {
  margin: 1rem;
}

@media (max-width: 750px) {
  .work h1 {
    height: 150px;
    font-size: 2rem;
  }
}

/* ------------------ news ----------------------- */

.news {
  padding: 3rem 4rem;
}
.news h1 {
  font-size: 3rem;
}
.news h1:nth-child(2) {
  position: relative;
}

.Article {
  width: 32%;
  height: 604px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.Article img {
  width: 96%;
  border: 1px solid #dddddd;
  padding: 8px;
  border-radius: 7px;
}

.Article-h1 {
  font-size: 2rem;
  color: #ff5800;
  position: relative;
  margin-bottom: 2rem;
}
.Article-h1::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #ff5800;
  width: 25%;
  left: 0;
  bottom: -15px;
}

.Article p {
  color: #7a7c82;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.Article-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
}

.news-icon-text {
  margin-bottom: 1rem;
  color: #ff5800;
}
.news-icon-text i {
  margin: 5px 2px;
}

.read-more-btn {
  background-color: #ff5800;
  color: #fff;
  padding: 5px 7px;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 750px) {
  .news {
    padding: 3rem 2rem;
  }
  .Article-list {
    flex-direction: column;
    gap: 2rem;
  }
  .Article {
    width: auto;
  }
}

/* -------------------- Quate --------------- */

.Quate {
  position: relative;
}

.Quate-top {
  width: 100%;
  height: 350px;
}
.Quate-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Quate-bottom {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.778));
}

.Quate-bottom p {
  padding-top: 7%;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  width: 100%;
}

@media (max-width: 750px) {
  .Quate-bottom {
    padding: 3rem 2rem;
  }
}

/* ----------------------- skills ------------------------- */

.skills {
  padding: 3rem 4rem;
}

.skills-head {
  width: 310px;
  margin-top: 2rem;
}
.skills-head h1 {
  font-size: 3rem;
}
.skills-head h1:nth-child(2) {
  position: relative;
  color: #ff5800;
  margin-bottom: 2rem;
}
.skills-head h1:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #ff5800;
}
.skills-head p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: #7a7c82;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  width: 48%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.skill p {
  color: #7a7c82;
  font-size: 1.3rem;
}
.progress {
  background-color: #ff5900d9;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #ececec;
}

@media (max-width: 930px) {
  .skill {
    width: 100%;
  }
  .skills {
    padding: 3rem 2rem;
  }
  .skills-head p {
    line-height: 1rem;
  }
}

/* ------------------ team-seconde --------------------- */

.team-seconde {
  padding: 3rem 0;
}

.team-seconde h1 {
  font-size: 3rem;
  text-align: center;
}

.team-seconde h1:nth-child(2) {
  color: #ff5800;
  margin-bottom: 2rem;
  position: relative;
}

.team-seconde h1:nth-child(2)::after {
  content: "";
  width: 10%;
  border-bottom: 3px solid #ff5800;
  position: absolute;
  left: 45%;
  bottom: 0;
}

.member {
  position: relative;
  width: 25%;
  height: 400px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 3%;
}
.member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.member-info {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: center;
  gap: 1rem;
  top: 0;
  left: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.647));
  height: 100%;
  opacity: 0;
  transition: 0.7s ease-in-out;
}

.member-social i {
  font-size: 2rem;
  margin-right: 1rem;
}

.member:hover .member-info {
  opacity: 1;
}

@media (max-width: 900px) {
  .member {
    width: 48.5%;
  }
}

@media (max-width: 600px) {
  .member {
    width: 100%;
  }
}

/* ------------------- contact-form ------------------------ */

.contact-form {
  padding: 3rem 4rem;
  width: 50%;
  margin: 0 auto;
}
.contact-form h1 {
  font-size: 3rem;
}
.contact-form h1:nth-child(2) {
  color: #ff5800;
  margin-bottom: 2rem;
  position: relative;
}
.contact-form h1:nth-child(2)::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #ff5800;
  left: 0;
  bottom: 0;
  width: 10%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
form input,
textarea {
  border: none;
  outline: none;
  background-color: #eeeeee;
  padding: 10px;
  font-size: 1rem;
}
form button {
  background-color: #ff5800;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  border: none;
}

@media (max-width: 1000px) {
  .contact-form {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .contact-form {
    width: 100%;
    padding: 3rem 2rem;
  }
}

/* ----------------- footer ------------------------ */

footer {
  background-color: #222222;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5rem 4rem;
  gap: 1rem;
}

footer h1 {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.footer-frist-sec p {
  margin-bottom: 10px;
}

.footer-frist-sec p:nth-child(4) {
  margin-bottom: 3rem;
}
footer a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}

footer a:hover {
  color: #ff5800;
}

.footer-fourth-sec,
.footer-third-sec,
.third-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-info {
  margin-bottom: 1rem;
}

.third-info a {
  line-height: 0.9;
}

.footer-second-sec p {
  margin-bottom: 1rem;
}

.footer-second-sec button {
  padding: 7px 13px;
  border-radius: 6px;
  background-color: #ff5800;
  border: none;
  font-size: 1rem;
  color: #fff;
}

.footer-second-sec p {
  line-height: 1.5;
}

@media (max-width: 1000px) {
  footer {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 2rem;
  }
}
@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
}

/* ----------------------------- footer-end --------------------- */

.footer-end {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
  background-color: #000;
  color: #fff;
}

.end-right i {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.end-right i:hover {
  color: #ff5900;
}

.end-left p:nth-child(1) {
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .footer-end {
    flex-direction: column;
    padding: 2rem 2rem;
  }
}
